@import url('bootstrap.min.css');
@import url('bootstrap-responsive.min.css');


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body
{
   padding-top: 60px;
   padding-bottom: 40px;
}