{% extends "base.html" %}

{% block navbar %}
    {% if current_user %}
        {% include "nav_logged_in.html" %}
    {% else %}
        {% include "nav_logged_out.html" %}
    {% end %}
{% end %}

{% block content %}
    <div class="container">
        <div class="hero-unit">
            <h1>About Us</h1>
            <p>We had fun and learned a lot while building fitquo. Here's a little bit about us...</p>
            <br />
            <div class="media">
                <a class="pull-left" href="http://github.com/irtefa1">
                    <img class="media-object" src="/static/img/irtefa.jpg" width="200" height="85"></img>
                </a>
                <div class="media-body">
                    <h3 class="media-heading">Irtefa</h3>
                    <p><span class="muted">People say: </span>He still wanted to hack this project in <a href='http://rubyonrails.org'>Rails</a>.</p>
                    <p><span class="muted">He says: </span>Drink a lot of swagjuice.</p>
                </div>
            </div>
            <hr>
            <div class="media">
                <a class="pull-left" href="http://github.com/abdrakh1">
                    <img class="media-object" src="/static/img/madina.jpg" width="200" height="85"></img>
                </a>
                <div class="media-body">
                    <h3 class="media-heading">Madina</h3>
                    <p><span class="muted">People say: </span>She frequently skips coding sessions to go to yoga classes.</p>
                    <p><span class="muted">She says: </span>Tomorrow is another day.</p>
                </div>
            </div>
            <hr>
            <div class="media">
                <a class="pull-left" href="http://github.com/rishibajekal">
                    <img class="media-object" src="/static/img/rishi.png" width="200" height="85"></img>
                </a>
                <div class="media-body">
                    <h3 class="media-heading">Rishi</h3>
                    <p><span class="muted">People say: </span>He secretly wants to be a brogrammer</p>
                    <p><span class="muted">He says: </span>He was the self-appointed DJ for coding sessions as the resident hipster of the group.</p>
                </div>
            </div>
            <hr>
            <div class="media">
                <a class="pull-left" href="http://github.com/LeeStephen">
                    <img class="media-object" src="/static/img/stephen.jpg" width="200" height="85"></img>
                </a>
                <div class="media-body">
                    <h3 class="media-heading">Stephen</h3>
                    <p><span class="muted">People say: </span>For every hour he coded he gamed for five hours.</p>
                    <p><span class="muted">He says: </span>The moonlanding was a lie.</p>
                </div>
            </div>
            <hr>
        </div>
    </div>
{% end %}
