{% extends "base.html" %}

{% block navbar %}
    {% if current_user %}
        {% include "nav_logged_in.html" %}
    {% else %}
        {% include "nav_logged_out.html" %}
    {% end %}
{% end %}

{% block content %}
    <div class="container">
        <div class="hero-unit">
            <h1>About Us</h1>
            </br>
            <p>
                <h3>Irtefa</h3>
                <img src="/static/images/irtefa.jpg" class="media" width="200" height="85"></img>
                <div>People say, "He still wanted to program this in <a href='http://rubyonrails.org'>Rails</a>"</div>
                <div>He says, "Drink a lot of swagjuice"</div>
            </p>
            <hr>
            <p>
                <h3>Madina</h3>
                <img src="/static/images/madina.jpg" class="media" width="200" height="85"></img>
                <div>People say, "She frequently skips coding sessions to go to yoga classes"</div>
                <div>She says, "Tomorrow is another day"</div>
            </p>
            <hr>
            <p>
                <h3>Rishi</h3>
                <img src="/static/images/rishi.jpg" class="media" width="200" height="85"></img>
                <div>People say, "He secretly wants to be a brogrammer."</div>
                <div>He says, "In 20 years I want to be the Gandalf of the programming world"</div>
            </p>
            <hr>
            <p>
                <h3>Stephen</h3>
                <img src="/static/images/stephen.jpg" class="media" width="200" height="85"></img>
                <div>People say, "For every hour he coded he gamed for five hours"</div>
                <div>He says, "The moonlanding was a lie"</div>
            </p>
            <hr>
        </div>
    </div>
{% end %}
