{% extends "base.html" %}

{% block navbar %}
    {% if current_user %}
        {% include "nav_logged_in.html" %}
    {% else %}
        {% include "nav_logged_out.html" %}
    {% end %}
{% end %}

{% block content %}
    <div class="container">
        <div class="hero-unit">
            <h1>About</h1>
            <p>fitquo was created by Madina Abdrakhmanova, Rishi Bajekal, Mohd Irtefa, and Stephen Lee for CS 411 - Database Systems - at University of Illinois at Urbana-Champaign.</p>
        </div>
    </div>
{% end %}