{% extends "base.html" %}

{% block navbar %}
        {% include "nav_logged_in.html" %}
{% end %}

{% block content %}
    <div class="container">
        <div class="hero-unit">
            <div class="form-horizontal" id="user-signup">
                {% module xsrf_form_html() %}
                <div class="control-group center" id="question-group">
                    <div class="controls center">
                        <h1>Ask a question</h1>
                        <p>Please ask your question using the form below:</p>
                        <textarea id="question" class="input-large span6" rows="4" type="text" placeholder="Type your question here"></textarea>
                    </div>
                </div>
                <div class="control-group center">
                    <div class="controls span2">
                        <label class="checkbox">
                            <input type="checkbox" value="option1" id="aerobics"> Aerobics</input>
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" value="option2" id="bodybuilding"> Bodybuilding</input>
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" value="option3" id="cardio"> Cardio</input>
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" value="option3" id="diet"> Diet and Nutrition</input>
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" value="option1" id="weightloss"> Weight Loss</input>
                        </label>
                    </div>
                    <div class="controls span2">
                        <label class="checkbox">
                            <input type="checkbox" value="option2" id="kick"> Kickboxing</input>
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" value="option3" id="plyo"> Plyometrics</input>
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" value="option3" id="rehab"> Rehabilitation</input>
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" value="option2" id="yoga"> Yoga</input>
                        </label>
                    </div>
                </div>

                <div class="control-group">
                    <div class="controls">
                        <button id="question-button" class="btn btn-large btn-primary">Ask question</button>
                    </div>
                </div>

                <div class="alert alert-error hidden" id="invalid-form">
                    <strong>Warning!</strong> Please do not leave the question field blank or exceed 1000 characters.
                </div>

                <div class="alert alert-error hidden" id="dont-spam">
                    <strong>Spam detected!</strong> We have detected that your question is not related to fitness. Please try again.
                </div>

            </div>
        </div>

    </div>
{% end %}

{% block scripts %}
    <script src="{{ static_url('js/ask.js') }}"></script>
{% end %}
