{% extends "base.html" %}

{% block navbar %}
    <ul class="nav pull-right">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="profile">Profile</a></li>
        <li><a href="about">About</a></li>
        <li><a href="contact">Contact</a></li>
    </ul>
{% end %}

{% block content %}
    <div class="container">
        <div class="hero-unit">
            <h1>Welcome!</h1>
            <p>fitquo is an application that helps people connect with fitness trainers to get credible and valuable information about fitness.</p>
        </div>
    </div>
{% end %}
