{% extends "base.html" %}

{% block navbar %}
    <ul class="nav pull-right">
        <li><a href="/">Home</a></li>
        <li class="active"><a href="profile">Profile</a></li>
        <li><a href="about">About</a></li>
        <li><a href="contact">Contact</a></li>
    </ul>
{% end %}

{% block content %}
    <div class="container">
        <div class="row-fluid">
            <div class="span2">
                <div class="well well-large">
                    <br />
                    <h2>Profile</h2>
                    <ul class="nav nav-tabs nav-stacked">
                        <li><a href="#"><strong>My Interests</strong></a></li>
                        <li><a href="#"><strong>My Questions</strong></a></li>
                        <li><a href="#"><strong>Edit Profile</strong></a></li>
                    </ul>
                </div>
            </div>

            <div class="span10">

                <div class="hero-unit">
                    <h2>Personal Information</h2>         
                    <h4>Name: </h4><p id ="name"></p>
                    <h4>Email: </h4><p id="email"></p>
                    <h4>Age: </h4><p id="age"></p>
                    <h4>Weight: </h4><p id="weight"></p>
                    <h4>Height: </h4><p id="height"></p>
                </div>
          
            </div>

        </div>
    </div>

    <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <div class="well well-large">
                    <h2>Activity</h2>
                    <p>My recent activity...</p>
                </div>
          
            </div>
        </div>
    </div>
{% end %}

{% block scripts %}
    <script src="{{ static_url("js/profile.js") }}"></script>
{% end %}
