{% extends "base.html" %}

{% block content %}
    <ul class="nav pull-right">
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
{% end %}

{% block content %}
    <div class="container">

        <div class="hero-unit">
            <h1>Signup</h1>
            <p>We need some information so we can customize your experience based on your preferences.</p>
            <p>Please fill out the form below.</p>
            <div class="form-horizontal" id="user-signup">
                {% module xsrf_form_html() %}
                <div class="control-group" id="age-group">
                    <label class="control-label">Age:</label>
                    <div class="controls">
                        <textarea id="age" class="input-medium" rows="1" type="text" placeholder="25"></textarea>
                        <span class="help-inline hidden" id="age-help">Please provide a valid age.</span>
                    </div>
                </div>
                <div class="control-group" id="weight-group">
                    <label class="control-label">Weight (in lbs):</label>
                    <div class="controls">
                        <textarea id="weight" class="input-medium" rows="1" type="text" placeholder="180"></textarea>
                        <span class="help-inline hidden" id="weight-help">Please provide a valid weight.</span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Height:</label>
                    <div class="controls">
                        <select id="height-feet" class="input-medium">
                            <option>1 ft.</option>
                            <option>2 ft.</option>
                            <option>3 ft.</option>
                            <option>4 ft.</option>
                            <option>5 ft.</option>
                            <option>6 ft.</option>
                            <option>7 ft.</option>
                        </select>
                        <select id="height-inches" class="input-medium">
                            <option>1 in.</option>
                            <option>2 in.</option>
                            <option>3 in.</option>
                            <option>4 in.</option>
                            <option>5 in.</option>
                            <option>6 in.</option>
                            <option>7 in.</option>
                            <option>8 in.</option>
                            <option>9 in.</option>
                            <option>10 in.</option>
                            <option>11 in.</option>
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button id="signup-button" class="btn btn-large btn-primary">Signup</button>
                    </div>
                </div>

                <div class="alert alert-error hidden" id="invalid-form">
                  <strong>Warning!</strong> Please provide valid input for all information.
                </div>

                <div class="alert alert-error hidden" id="database-error">
                  <strong>Error!</strong> There seems to be a problem with the application. Please try to sign up again soon.
                </div>

            </div>
        </div>

    </div>
{% end %}

{% block scripts %}
    <script src="{{ static_url('js/user_signup.js') }}"></script>
{% end %}
