{% extends "base.html" %}

{% block navbar %}
    {% include "nav_logged_in.html" %}
{% end %}

{% block content %}
    <div class="container">
        <div class="row-fluid">
            <div class="span2">
                <div class="well well-large">
                    <br />
                    <h2>Profile</h2>
                    <ul class="nav nav-tabs nav-stacked">
                        <li class="active"><a href="#"><strong>Personal Info</strong></a></li>
                        <li><a href="#"><strong>Edit Profile</strong></a></li>
                    </ul>
                </div>
            </div>

            <div class="span10">

                <div class="hero-unit">
                    <h2>Personal Information</h2>
                    <h4>Name: <large class="lead" id ="name"></large></h4>
                    <h4>Email: <large class="lead" id="email"></large></h4>
                    <h4>Age: <large class="lead" id="age"></large></h4>
                    <h4>Weight: <large class="lead" id="weight"></large></h4>
                    <h4>Height: <large class="lead" id="height"></large></h4>
                </div>

            </div>

        </div>
    </div>
{% end %}

{% block scripts %}
    <script src="{{ static_url('js/user_profile.js') }}"></script>
{% end %}
